body {
  margin: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #ffffff;
}

ul {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-header {
  background-color: #f4f7f9;
}

.site-navigation,
.form-search__input {
  background-color: #293449;
}

.main-logo {
  background-color: #ee3643;
}

.main-logo:hover {
  background-color: #ca2c37;
}

.main-logo:active {
  background-color: #ba2732;
}

.form-search__input::placeholder {
  color: #ffffff;
}

.form-search__input:focus::placeholder {
  color: transparent;
  background-color: #ffffff;
}

.site-navigation-list__item:not(:nth-child(4)):hover,
.form-search__input:hover {
  background-color: #212a3a;
}

.site-navigation-list__item:nth-child(2):active,
.site-navigation-list__item:nth-child(3):active {
  color: #cacaca;
  background-color: #161d29;
}

.site-navigation-list__item:nth-child(4) {
  background-color: #63a63e;
}

.site-navigation-list__item:nth-child(4):hover {
  background-color: #5fbb2d;
}

.site-navigation-list__item:nth-child(4):active {
  background-color: #518534;
}

.main-header__headline {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

.main-header__telephone-number {
  font-size: 21px;
  line-height: 21px;
  color: #e9292a;
}

.user-navigation-list__item {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.uuser-navigation-list__item a,
.user-navigation-list__item a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.user-navigation-list__item a:hover,
.user-navigation-list__item a:hover {
  color: #ee3643;
}

.user-navigation-list__item a:active,
.user-navigation-list__item a:active {
  color: #cacaca;
}

.main-navigation__list {
  line-height: 17px;
  background-color: #32425c;
}

.main-navigation-list__item:hover {
  background-color: #293449;
}

.main-navigation-list__item a:active {
  color: #9b9da2;
}

.main-navigation-list__item:active {
  background-color: #1d2739;
}

.about-technomart__second-headline {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.about-technomart__description {
  font-size: 13px;
  font-family: "PT Sans", Arial, sans-serif;
  line-height: 24px;
}

.contacts-and-map__headline {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.delivery-list__item {
  font-size: 18px;
  line-height: 20px;
}

.about-technomart__button,
.contacts-and-map__button {
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ee3643;
}

.main-footer__address {
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
}

.main-footer {
  background-color: #32425c;
}

.footer-navigation-list__item a {
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
}

.products-navigation-list__item a {
  font-size: 18px;
  line-height: 24px;
  color: #ffd180;
}

.footer-part-bottom {
  background-color: #293449;
}

.footer-part-bottom__footer-copyright,
.footer-part-bottom__feedback,
.footer-part-bottom__htmlacademy-copyright {
  font-size: 16px;
  color: #ffffff;
}

.footer-part-bottom__feedback a,
.footer-part-bottom__htmlacademy-copyright a {
  font-size: 16px;
  color: #ffd180;
}

.footer-navigation__list a:hover,
.products-navigation-list__item a:hover,
.footer-part-bottom__feedback a:hover,
.footer-part-bottom__htmlacademy-copyright a:hover {
  text-decoration: underline;
}

.footer-navigation__list a:active {
  text-decoration: none;
  color: #7e8795;
}

.products-navigation-list__item a:active {
  text-decoration: none;
  color: #7d7266;
}

.footer-part-bottom__feedback a:active,
.footer-part-bottom__htmlacademy-copyright a:active {
  text-decoration: none;
  color: #ee3643;
}

.footer-social a {
  background-color: #212a3a;
}

.footer-social a:hover,
.footer-social a:active {
  background-color: #ee3643;
}

/* CATALOG.HTML */
.main-account-list__item a {
  font-size: 16px;
  text-decoration: underline;
  color: #9ea5af;
}

.main-account-list__item a:hover {
  color: #ee3643;
}

.main-account-list__item a:active,
.login a:active {
  color: #cacaca;
}

.login a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.login:hover {
  color: #32425c;
}

.breadcrumbs-list__item, {
  font-size: 13px;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
}

.breadcrumbs-list a {
  color: #000000;
}

.container__title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
  background-color: #f2f6f8;
}

.filter-manufacturers-form fieldset {
  border: none;
}

.filter-manufacturers-form__checkbox-list,
.filter-manufacturers-form__radio-list {
  font-size: 15px;
  line-height: 20px;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
}

.fieldset__legend {
  line-height: 30px;
  font-weight: bold;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
}

/* .text-block__link a {
  font-weight: bold;
  color: #000000;
} */
.text-block__text {
  font-size: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  line-height: 20px;
  color: #000000;
}

.price__old s {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  color: #999999;
}

.price__actual {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  color: #ffffff;
  background-color: #ee3643;
}

.catalog-goods-list__buy-button {
  font-size: 14px;
  color: #ffffff;
  background-color: #63a63e;
}

.catalog-goods-list__bookmarks-button {
  font-size: 14px;
  color: #32425c;
  background-color: #ffffff;
}

/* modal windows */
.modal-write-us,
.modal-popup-map,
.cart {
  display: none;
}