html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  padding: 0;
  border: 0 none;
  background: none;
}

body {
  margin: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-header {
  min-height: 260px;
  margin-bottom: 60px;
  background-color: #f4f7f9;
}

.main-header__wrapper {
  height: 42px;
  margin: 0;
  padding: 0;
  background-color: #293449;
}

.site-navigation {
  display: flex;
  align-items: flex-start;
  background-color: #293449;
}

.form-search {
  color: inherit;
  border: 0;
}

.main-logo {
  padding-top: 13px;
  padding-right: 57px;
  padding-bottom: 15px;
  padding-left: 56px;
}

.site-navigation-list {
  background-color: purple;
  height: 42px;
}

.center-wrapper {
  width: 940px;
  display: flex;
  justify-content: space-between;
  background-color: red;
  min-height: 60px;
  outline: 5px solid green;
  margin-bottom: 47px;
}

.main-header__headline {
  background-color: white;
}

.telephone-and-address {
  width: 270px;
  min-height: 52px;
  background-color: orange;
}

.user-navigation-list {
  display: flex;
  max-width: 281px;
  margin: 0 auto;
}

.main-navigation {
  padding-bottom: 60px;
  min-height: 60px;
  background-color: green;
}

.main-navigation-list {
  display: flex;
  background-color: red;
  width: 940px;
  justify-content: space-between;
  margin-bottom: 60px;
}
